.shopping-card {
    @include flex(center, center);
    margin-top: 20px;
    height: auto;
    width: 80%;
}

.shopping-cart__header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    border-bottom: 3px solid lightgray;
    margin: 0 auto;

    & h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: center;
    }
}
.shopping-card__item {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    border-bottom: 3px solid lightgray;
    margin: 0 auto;
}
.title-image {
    text-align: center;
    width: 45%;
}
.shopping-card__image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img {
        max-width: 100px;
        height: 150px;
        margin: 15px;
    }
}

.shopping-card-title {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
}
.shopping-card-price {
    width: 15%;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}
.shopping-card__item__product {
    display: flex;
    width: 45%;
    justify-content: space-between;
}
.shopping-card-number {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;

    & i {
        font-size: 32px;
        cursor: pointer;
    }
    & input {
        font-size: 28px;
    }
}
.shopping-card-total {
    width: 20%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
}

.shopping-cart__footer {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    font-size: 2rem;
}
